/*
** Colors
*/
:root {
	--color-main: #0FF; /* cyan */
	--color-main-dark: #008B8B; /* darkcyan */
	--color-accent: #FFA07A; /* lightsalmon */
	--color-accent-dark: #FF6347; /* tomato */
	--color-black: #000;
	--color-gray-light: #A0A0A0;
	--color-gray-med: #464646;
	--color-gray-dark: #151515;
	--color-white: #FFF;
	--color-facebook: #3B5998;
	--color-twitter: #1DA1F2;
	--color-patreon: #F96854;
	--color-paypal: #0E55AA;
	--color-android: #839E2E;
	--color-apple: #8A98A0;
}